button {
    margin: 0vw 1vw;
}

#addComponentDiv {
    display: none;
    padding: 5vw;
}

.headerButton {
    margin-left: 0;
    background-color: #494430;
    border: none;
    color: white;
}

#finalTable thead {
    background-color: #494430;
}

#finalTable {
    margin: 2vw;
    table-layout: fixed;
    width: 90vw;
    border: 1px solid #e0e0e0;
    outline-style: solid;
    outline-color: #ededed;
    outline-width: 5px;
}

#finalTable th {
    border-color: #4c4a3b;
}

#finalTable th:first-child {
    width: 50%;
}

#finalTable td {
    border-color: #e0e0e0;
}


#finalTable tfoot {
    text-align: right;
    border: #e0e0e0;
}

span {
    padding: 2vw;
}

.navigationButton, #paginatorSelector{
    border: none;
    background-color: white;
}