button{
    margin: 0vw 10vw;
}

#addComponentDiv, #addColumnDiv{
    display:none;
    padding: 5vw;
}

.headerButton{
    margin-left: 0;
    background-color: chocolate;
    border: none;
    font-weight: bold;
}

#finalTable thead {
    background-color: chocolate;
}

#finalTable{
    margin: 2vw;
    table-layout: fixed;
    width: 90vw;
}

#finalTable th:first-child{
    width: 50%;
}

#finalTable tfoot{
    text-align: right;
    border: solid ;
}